<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{site.baseurl}}/css/post.css">
    <title>{{post.title}}</title>
</head>
<body>
    <div id="tooflogo">
        Toof17
    </div>
    <div id="posttext">
        <h2 id="titleholder">{{page.title}}</h2>
        <hr/>
        <div id="textdiv">
            {{content}}
            <div>
                <span><a href="{{site.baseurl}}/posts">Back</a></span>
            </div>
        </div>
    </div>
</body>
</html>